Avalanche Forecasting Prediction.json
[{"id":"23321f90.61167","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"98c523d3.14541","type":"function","z":"23321f90.61167","name":"PreToken","func":"global.set(\"dt\",msg.payload.dt)\nglobal.set(\"tp\",msg.payload.tp)\nglobal.set(\"rh\",msg.payload.rh)\nglobal.set(\"ss\",msg.payload.ss)\nvar apikey=\"UsFK5QGbg8E8NhR3uvMXuoseMqBAAUw2LSa7FV81ObAZ\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":320,"wires":[["c982f0b5.6d544"]]},{"id":"c982f0b5.6d544","type":"http request","z":"23321f90.61167","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":459,"y":308.9999952316284,"wires":[["9f15b716.96c228"]]},{"id":"f4c129bb.26a4b8","type":"debug","z":"23321f90.61167","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":898.0000114440918,"y":50.99999713897705,"wires":[]},{"id":"9f15b716.96c228","type":"function","z":"23321f90.61167","name":"Pre Prediction","func":"var dt = global.get('dt')\nvar tp = global.get('tp')\nvar rh = global.get('rh')\nvar ss = global.get('ss')\nvar token=msg.payload.access_token\nvar instance_id=\"0d876d5d-7da4-4e87-a8fa-05f06e7ca5a7\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Date/Time \", \"Temperature \", \"Relative Humidity \", \"Intermittent/Shot Snow  \"], \"values\": [[dt,tp,rh,ss]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":656.0000076293945,"y":271.9999990463257,"wires":[["3ed49caa.c19af4"]]},{"id":"3ed49caa.c19af4","type":"http request","z":"23321f90.61167","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/c6476292-f725-4279-9e6b-da2c224da488/predictions","tls":"","persist":false,"proxy":"","authType":"","x":749.5000076293945,"y":215.99999904632568,"wires":[["f4c129bb.26a4b8","db2da495.979968"]]},{"id":"ba57e037.72dee","type":"ui_form","z":"23321f90.61167","name":"","label":"","group":"7a4f66d7.8141e8","order":2,"width":0,"height":0,"options":[{"label":"Date/Time","value":"dt","type":"text","required":true,"rows":null},{"label":"Temperature","value":"tp","type":"number","required":true,"rows":null},{"label":"Relative Humidity","value":"rh","type":"number","required":true,"rows":null},{"label":"Intermittent/Shot Snow ","value":"ss","type":"number","required":true,"rows":null}],"formValue":{"dt":"","tp":"","rh":"","ss":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":51,"y":362.9999952316284,"wires":[["98c523d3.14541"]]},{"id":"db2da495.979968","type":"function","z":"23321f90.61167","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":120,"wires":[["b4c51560.b44038"]]},{"id":"b4c51560.b44038","type":"ui_text","z":"23321f90.61167","group":"7a4f66d7.8141e8","order":1,"width":0,"height":0,"name":"","label":"Total Snow Depth","format":"{{msg.payload}}","layout":"row-spread","x":860,"y":420,"wires":[]},{"id":"7a4f66d7.8141e8","type":"ui_group","z":"","name":"Default","tab":"bdcf152.9d350e8","order":1,"disp":true,"width":"6","collapse":false},{"id":"bdcf152.9d350e8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]